<h3>Index of your documents</h3>


<ul>

    <% @current_user.documents.each do |d| %>

        <li>
            <div class="title_button">
            <%= link_to d.title, document_path(d.id) %>
            </div>
            <div class="link_button">
            <%= link_to "Edit #{d.title} Document", edit_document_path(d.id) %>
            </div>
            <div class="link_button">
            <%= link_to "Delete #{d.title} Document", delete_document_path(d.id), data: {confirm: "Are you sure? Deleting means your data will not be saved"}, method: 'delete' %>
            </div>
            
        </li>
        <br>
    <% end %>

</ul>